@model Crud_Project.Models.crudtablo

@{
    ViewBag.Title = "Delete";
}

<h2>Personel Sil</h2>

<h3 class="text-danger">Personeli silmek istediğinize emin misiniz?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME,"Personel Adı")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
